body {
    background: linear-gradient(135deg, #22d1ee, #3eecac);
    font-family: Poppins, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-card {
    width: 360px;
    background: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}

.title {
    margin: 0;
    text-align: center;
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background: #ffe3e3;
    border-radius: 20px;
    margin: 12px 0;
}

#progress {
    width: 10%;
    height: 100%;
    background: #ff5c5c;
    border-radius: 20px;
    transition: width 0.4s ease;
}

.question-box {
    background: #a2ffd7;
    padding: 18px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

#timer {
    font-size: 18px;
    background: rgba(0,0,0,0.1);
    padding: 6px 14px;
    border-radius: 8px;
    color: #333;
    font-weight: bold;
}

.choose-text {
    margin-top: 15px;
    font-size: 14px;
}

.options {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.option {
    background: #e6e6e6;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}

.option:hover {
    background: #dcdcdc;
}

.option.correct {
    background: #6ee7b7 !important;
}

.option.wrong {
    background: #ff7a7a !important;
}
